</content>
<footer class="content-padding footer">
    <div class="container-fluid">
        <!-- Верхний блок: колонки -->
        <div class="row footer_top">
            <div class="col-6 col-md-2 mb-3">
                <h6 class="fw-bold">Магазин</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Каталог</a></li>
                    <li><a href="#" class="text-decoration-none">Оплата и доставка</a></li>
                    <li><a href="#" class="text-decoration-none">Вопросы и ответы</a></li>
                    <li><a href="#" class="text-decoration-none">Отзывы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h6 class="fw-bold">О нас</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">О бренде</a></li>
                    <li><a href="#" class="text-decoration-none">Клуб</a></li>
                    <li><a href="#" class="text-decoration-none">Блог</a></li>
                    <li><a href="#" class="text-decoration-none">Контакты</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h6 class="fw-bold">Дизайн студия</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Дизайн студия</a></li>
                    <li><a href="#" class="text-decoration-none">Консультация дизайнера</a></li>
                    <li><a href="#" class="text-decoration-none">Мебель на заказ</a></li>
                    <li><a href="#" class="text-decoration-none">Общественные пространства</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h6 class="fw-bold">Журналы и модели</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Журнал-каталог мебели</a></li>
                    <li><a href="#" class="text-decoration-none">Каталог дизайн-проектов</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3 subscribe">
                <h6 class="fw-bold">Подписаться</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="d-flex align-items-center gap-2 text-decoration-none"><i class="bi bi-vk"></i><span>ВКонтакте</span></a></li>
                    <li><a href="#" class="d-flex align-items-center gap-2 text-decoration-none"><i class="bi bi-pinterest"></i><span>Pinterest</span></a></li>
                    <li><a href="#" class="d-flex align-items-center gap-2 text-decoration-none"><i class="bi bi-houzz"></i><span>Houzz</span></a></li>
                </ul>
            </div>
        </div>
        <div class="accordion d-md-none" id="footerAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#f1">Магазин </button>
                </h2>
                <div id="f1" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Каталог</a></li>
                            <li><a href="#">Оплата и доставка</a></li>
                            <li><a href="#">Вопросы и ответы</a></li>
                            <li><a href="#">Отзывы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#f2">О нас </button>
                </h2>
                <div id="f2" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">О бренде</a></li>
                            <li><a href="#">Клуб</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#f3">Дизайн студия</button>
                </h2>
                <div id="f3" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Дизайн студия</a></li>
                            <li><a href="#">Консультация дизайнера</a></li>
                            <li><a href="#">Мебель на заказ</a></li>
                            <li><a href="#">Общественные пространства</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#f4">Журналы и модели</button>
                </h2>
                <div id="f4" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Журнал-каталог мебели</a></li>
                            <li><a href="#">Каталог дизайн-проектов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item showroom_mobile">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#f5">Шоурум в Москве</button>
                </h2>
                <div id="f5" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <p class="mb-2">Адрес шоурума: ТК «ЭлитСтрой материалы»<br>МО, г. Одинцово, п. Заречье, ул. Торговая, стр. 2, 2 этаж, сектор L4 </p>
                        <div class="btn_action">
                            <a href="#" class="btn btn_button border" data-bs-toggle="modal" data-bs-target="#moscowModal" data-bs-dismiss="modal">Смотреть на карте</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Соцсети -->
        <div class="subscribe_mobile d-flex flex-column flex-md-row gap-2 my-4">
            <a href="#" class="btn btn-light w-100"><i class="bi bi-vk"></i></a>
            <a href="#" class="btn btn-light w-100"><i class="bi bi-pinterest"></i></a>
            <a href="#" class="btn btn-light w-100"><i class="bi bi-houzz"></i></a>
        </div>
        <!-- Средний блок: карточки -->
        <div class="row footer_middle" style="--bs-gutter-x: 16px;">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="fw-bold">Связаться с нами</h6>
                        <p class="mb-1">Телефон: <strong>+7 499 391 90 28</strong></p>
                        <p class="mb-1">Почта: <a href="mailto:order@moonk-design.com"><strong>order@moonk-design.com</strong></a></p>
                        <p class="mb-2">Часы работы: <strong>10:00–19:00</strong></p>
                        <div class="btn_action">
                            <a href="#" class="btn btn_button border">Написать нам</a>
                            <a href="#" class="btn btn-outline-dark btn-sm"><i class="bi bi-tg"></i></a>
                            <a href="#" class="btn btn-outline-dark btn-sm"><i class="bi bi-wa"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 showroom_pc">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="fw-bold">Шоурум в Москве</h6>
                        <p class="mb-2">Адрес шоурума: ТК «ЭлитСтрой материалы»<br>МО, г. Одинцово, п. Заречье, ул. Торговая, стр. 2, 2 этаж, сектор L4 </p>
                        <div class="btn_action">
                            <a href="#" class="btn btn_button border" data-bs-toggle="modal" data-bs-target="#moscowModal" data-bs-dismiss="modal">Смотреть на карте</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Нижний блок -->
        <div class="row footer_bottom align-items-end">
            <div class="col-md-4 small">
                <div>
                    <a href="#" class="text-decoration-none">Публичная оферта</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Политика конфиденциальности</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Согласие на обработку персональных данных</a>
                </div>
            </div>
            <div class="col-md-4 copyright">
                <p>Дизайн</p>
                <p>© 2017–2024 Moonk. Все права защищены</p>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end gap-3">
                <img src="files/master.svg" alt="master">
                <img src="files/visa.svg" alt="Visa">
                <img src="files/mir.svg" alt="Mir">
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Модалка 1: список шоурумов -->
<div class="modal fade modal-right" id="showroomsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Шоурумы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#moscowModal" data-bs-dismiss="modal">
                        <div class="fw-bold">Москва</div>
                        <small class="text">Адрес шоурума: <strong>ТК «ЭлитСтрой материалы» <br>МО, г. Одинцово, р.п. Заречье, ул. Торговая, стр. 2, 2 этаж, сектор L4</strong></small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#spbModal" data-bs-dismiss="modal">
                        <div class="fw-bold">Санкт-Петербург</div>
                        <small class="text">Адрес шоурума: <strong> Кожевенная линия, 40, «Севкабель Порт» (центральный вход, корпус слева — второй «детский этаж», офис 24)</strong></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-right" id="searchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="search_input">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-right" id="order0Modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Мебель в проекте</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>В каждом проекте мы используем нашу мебель, сочетая эстетику и функциональность. Она создает комфортное, безопасное и стильное пространство, отражая философию Moonk — радовать детей и их родителей</p>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <a href="#" class="btn btn_button black">Проложить маршрут</a>
                    <a href="#" class="btn btn_button border">Заказать проект</a>
                </div>
                <div class="list_products_modal">
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                </div>
                <a href="" class="warning_btn"><span>Заказать предметы со скидкой 10%</span></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-right" id="order1Modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Мебель в проекте</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>В каждом проекте мы используем нашу мебель, сочетая эстетику и функциональность. Она создает комфортное, безопасное и стильное пространство, отражая философию Moonk — радовать детей и их родителей</p>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <a href="#" class="btn btn_button black">Проложить маршрут</a>
                    <a href="#" class="btn btn_button border">Заказать проект</a>
                </div>
                <div class="list_products_modal">
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                    include _product.jade
                </div>
                <a href="" class="warning_btn"><span>Заказать предметы со скидкой 10%</span></a>
            </div>
        </div>
    </div>
</div>
<!-- Модалка 2: Москва -->
<div class="modal fade modal-right modal-map" id="moscowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Шоурум Moonk в Москве</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="text-copy">
                    <p>ТК «ЭлитСтрой материалы», МО, г. Одинцово, р.п. Заречье, ул. Торговая, стр. 2, 2 этаж, сектор L4</p>
                    <p>Посетить шоу-рум можно в любой день. Торговый комплекс работает ежедневно с 10:00 до 20:00.</p>
                    <div class="btn_copy"></div>
                </div>
                <button class="btn btn_button black">Проложить маршрут</button>
            </div>
            <div class="map">
                <img src="files/map.jpg" class="img-fluid rounded" alt="Карта Москва">
            </div>	
        </div>
    </div>
</div>
<!-- Модалка 3: Санкт-Петербург -->
<div class="modal fade modal-right modal-map" id="spbModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Шоурум Moonk в Санкт-Петербурге</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="text-copy">
                    <p>Адрес шоурума: Кожевенная линия, 40, «Севкабель Порт» (центральный вход, корпус слева — второй «детский этаж», офис 24).</p>
                    <div class="btn_copy"></div>
                </div>
                <button class="btn btn_button black">Проложить маршрут</button>
            </div>
            <div class="map">
                <img src="files/map.jpg" class="img-fluid rounded" alt="Карта Москва">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>