<div class="project_item">
	<div class="image">
		<a href="">
			<img src="files/project.jpg" alt="">
		</a>
	</div>
	<div class="text">Яркая комната для мальчика 12 м² с рабочей зоной, местом для игр и удобным хранением</div>
</div>