<div class="card product_item border-0">
    <div class="image">
        <a href="#">
            <img src="files/prod.jpg" class="card-img-top" alt="">
            <img src="files/prod-hov.jpg" class="card-img-top hov" alt="">
        </a>
    </div>
    <div class="card-body">
        <div class="colors d-flex flex-wrap align-items-center">
            <div class="color rounded-circle" style="background:#3983a0;"></div>
            <div class="color rounded-circle" style="background:#b792c5;"></div>
            <div class="color rounded-circle" style="background:#e9e2d2;"></div>
            <div class="color rounded-circle" style="background:#55abc4;"></div>
            <div class="color rounded-circle" style="background:#9c4a3e;"></div>
            <div class="color rounded-circle" style="background:#f1c73e;"></div>
            <div class="color rounded-circle" style="background:#97b777;"></div>
            <div class="color rounded-circle" style="background:#44659b;"></div>
            <div class="more small text-muted">+2</div>
        </div>
        <div class="name mb-1">
            <a href="#" class="text-decoration-none">Стул Malevich</a>
            <div class="favorite-add"></div>
        </div>
        <div class="price d-flex gap-2 align-items-center">
            <span class="current text-dark">16 700 ₽</span>
            <span class="old text-muted text-decoration-line-through">24 000 ₽</span>
        </div>
    </div>
</div>